.layout {
	display: flex;
	height: 100%;
	width: 100%;
}

.main {
	width: 100%;
	height: 100%;
	padding: 64px 64px 18px 64px ;
	max-width: 15  00px;
}

@media (max-width: 1750px) {
	.main {
		max-width: unset;
	}
}

// @media(min-width: 2000px) {
// 	.main {
// 		width: 1920px;
// 	}
// }