.card {
	background-color: #181818;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 36px;
	padding: 48px;
	& h2 {
		margin: 0;
		font-weight: 500;
	}
}

.balanceText {
	font-size: 40px;
}