.container {
	display: flex;
	width: 100%;
}

.addPaymentCard {
	width: 100%;
	height: 200px;
	border-radius: 10px;
	border: 2px dashed #767676;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px 0;
	gap: 24px;
	cursor: pointer;
	opacity: 0.7;
	transition: 300ms opacity ease;
	&:hover {
		opacity: 1;
	}
}